.Item {
  display: inline-block;
  vertical-align: top;
  margin: 20px;
  width: 200px;
  height: 300px;
  background-color: #f6f6f6;
  border: 1px solid;
}

.Item h1 {
  color: red;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0 10px;
}

.Item p {
  color: grey;
  padding: 0 10px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 9;
  -webkit-box-orient: vertical;
}
